<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:aop="http://www.springframework.org/schema/aop"
  xmlns:context="http://www.springframework.org/schema/context"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-2.5.xsd">

   <bean id="databaseHandler" class="dal.DatabaseHandler">
   </bean> 

   <bean id="databaseManager" class="dal.DatabaseManager">
   </bean> 
   
   <bean id="pictureController" class="bll.PictureController">
     <constructor-arg ref="databaseManager"/>
   </bean> 
   
   <bean id="administrationController" class="bll.AdministrationController">
     <constructor-arg ref="pictureController"/>
     <constructor-arg ref="databaseManager"/>
   </bean>  

   <bean id="administration" class="gui.Administration">
     <constructor-arg ref="administrationController"/>
     <!--<property name="uiController" ref="uiController" />-->
   </bean>  

   <!-- Definition for TwitterReader bean -->
   <!--<bean id="twitterReader" class="dal.TwitterReader">-->
   <!--</bean>--> 

   <bean id="instagramReader" class="dal.InstagramReader">
     <constructor-arg ref="instagramParser"/>
      <!--<property name="instagramParser" ref="instagramParser" />-->
   </bean>

   <bean id="instagramParser" class="dal.InstagramParser">
   </bean>     

   <bean id="pictureGetter" class="dal.PictureGetter">
   </bean>
   
   
   <!-- Definition dummy beans -->
   <bean id="instagramReaderDummy" class="resources.InstagramReaderDummy">
   </bean>   

   <bean id="twitterReaderDummy" class="resources.TwitterReaderDummy">
   </bean>  
</beans>